<script type="text/ng-template" id="networkport_new.html">
<div class="modal-header">
  <a class="close" ng-click="close()">&times;</a>
  <div class="input-prepend input-append">
    <h4>网络配置</h4>       
  </div>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <label for="name" class="control-label">所属集群</label>
      <div class="controls">
        <select ng-model="vm.host" ng-options="h.name for h in cluster.hosts" class="span2">
          <option value="">开发</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="name" class="control-label">协议：</label>
      <div class="controls">
        <input type="text" ng-model="network.name" class="input"/>
      </div>
    </div>
    <div class="control-group">
      <label for="name" class="control-label">起始端口：</label>
      <div class="controls">
        <input type="text" ng-model="network.name" class="input"/>
      </div>
    </div>
    <div class="control-group">
      <label for="name" class="control-label">终止端口：</label>
      <div class="controls">
        <input type="text" ng-model="network.name" class="input"/>
      </div>
    </div>
    <div class="control-group">
      <label for="name" class="control-label">组</label>
      <div class="controls">
        <select ng-model="vm.host" ng-options="h.name for h in cluster.hosts" class="span2">
          <option value="">系统组</option>
          <option value="">自定义</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
  <a data-dismiss="modal" class="btn btn-primary">保存</a>
</div>
</script>