<script type="text/ng-template" id="vm_workflow.html">
<div class="modal-header">
  <a class="close" ng-click="close()">×</a>
  <div class="input-prepend input-append">
    <button type="button" class="btn btn-mini {{step01_style}}">1.设置</button>
    <button type="button" class="btn btn-mini {{step02_style}}">2.选择模版或ISO</button>
    <button type="button" class="btn btn-mini {{step03_style}}">3.选择计算方案</button>
    <button type="button" class="btn btn-mini {{step04_style}}">4.选择存储方案</button>
    <button type="button" class="btn btn-mini {{step05_style}}">5.选择网络方案</button>
    <button type="button" class="btn btn-mini {{step06_style}}">6.确认</button>      
  </div>
</div>
<div class="modal-body">
  <div ng-include="template.url" />
</div>
<div class="modal-footer">
  <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
</div>
</script>

<script type="text/ng-template" id="template/dialog/message.html">
<div class="modal-header">
	<h3>{{ title }}</h3>
</div>
<div class="modal-body">
	<p>{{ message }}</p>
</div>
<div class="modal-footer">
	<button ng-repeat="btn in buttons" ng-click="close(btn.result)" class="btn" ng-class="btn.cssClass">{{ btn.label }}</button>
</div>
</script>