<!DOCTYPE html>
<html lang="en" ng-app="webvirt" id="top">
<head>
    <title>AngularUI Calendar for AngularJS</title>
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap-responsive.css" type="text/css" />   
    <link rel="stylesheet" href="/vendor/angular-ui/angular-ui.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/toggle-switch.css" type="text/css" /> 
    <link rel="stylesheet" href="/vendor/jquery.ztree/jquery.ztree.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/fullcalendar/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-override.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/chart.css" type="text/css" />
    <script src="/vendor/jquery/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="/vendor/highcharts/highcharts.js" type="text/javascript"></script>
    <!--script src="/vendor/jquery_ujs.js" type="text/javascript"></script-->
    <script src="/vendor/jquery-ui/jquery-ui.js" type="text/javascript"></script>
    <script src="/vendor/jquery.layout.js" type="text/javascript"></script>
    <script src="/vendor/angular/angular.js" type="text/javascript"></script>
    <script src="/vendor/angular/angular-resource-latest.js" type="text/javascript"></script>
    <script src="/vendor/angular-ui/angular-ui.js" type="text/javascript"></script>
    <script src="/vendor/angular-ui/bootstrap-transition.js" type="text/javascript"></script>
    <script src="/vendor/angular-ui/bootstrap-dialog.js" type="text/javascript"></script>
    <script src="/vendor/angular-ui/bootstrap-modal.js" type="text/javascript"></script>
    <script src="/vendor/fullcalendar/fullcalendar.js" type="text/javascript"></script>
    <script src="/vendor/fullcalendar/gcal.js" type="text/javascript"></script>
    <script src="/vendor/angular-ui/calendar.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/bootstrap.js" type="text/javascript"></script>
    <script src="/vendor/jquery.ztree/jquery.ztree.core-3.5.js" type="text/javascript"></script>
     
     <script src="/javascripts/utils.js" type="text/javascript"></script>
    <script src="/javascripts/directives.js" type="text/javascript"></script>
    <script src="/javascripts/services.js" type="text/javascript"></script>
    <script src="/javascripts/filters.js" type="text/javascript"></script>
    <script src="/javascripts/controllers.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
    <script src="/javascripts/cal.js" type="text/javascript"></script>
</head>
<body data-spy="scroll">



<!-- topbar starts -->
<div class="navbar navbar-fixed-top">
  <% include partials/header %>
</div>
<!-- topbar ends -->

<div class="ui-layout-center">
   <section id="directives-calendar" ng-controller="CalendarCtrl">
     <div class="well">
       <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
     </div>
    </section>
</div>

<div class="ui-layout-west" style="padding:5px;"> 
  <searchtree url="/tree_list" classname="ztree" />
</div>

<div class="ui-layout-south">
</div>

       


</body>
</html>
