<form class="form-horizontal" name="strategy_form" ng-submit="do_upsert()">
  <div class="modal-header">
    <a class="close" ng-click="close()">&times;</a>
    <div class="input-prepend input-append">
      <h4>{{title}}</h4>       
    </div>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label">名称:</label>
      <div class="controls">
        <input type="text" required ng-model="backupstrategy.name" class="input"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">备份方式:</label>
      <div class="controls">
        <select class="span2" ng-model="backupstrategy.type" ng-options="t.name for t in backupTypes"></select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">压缩:</label>
      <div class="controls">
        <input type="checkbox" class="input-mini" ng-model="checked"/> 
        <span ng-show="checked">级别: <input type="text" ng-model="backupstrategy.compress_rate" class="input-small"/></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">保留:</label>
      <div class="controls">
        <label class="radio">
          <input type="radio" name="persist" id="optionsRadios1">所有
        </label>
        <label class="radio">
          <input type="radio" name="persist" id="optionsRadios1">保留最后<input type="text" class="input-small"/>天 
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">备份位置:</label>
      <div class="controls">
        <label class="radio">
          <input type="radio" ng-model="backupstrategy.path" value="本地">本地
          <input type="text" class="input"/> 
        </label>
        <label class="radio">
          <input type="radio" ng-model="backupstrategy.path" value="存储">存储
          <select class="span2">
            <option>storage server</option>
          </select>
        </label>
        <label class="radio">
          <input type="radio" ng-model="backupstrategy.path" value="远程(sftp)">远程(sftp)<br />
          host: <input type="text" class="input-small"/> 
          path: <input type="text" class="input-small"/> <br />
          username: <input type="text" class="input-small"/>
          password: <input type="password" class="input-small"/>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">计划时间:</label>
      <div class="controls">
        <select class="span2" ng-model="backupstrategy.schedule" ng-options="s.name for s in schedules"></select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
    <button type="submit" ng-disabled="!strategy_form.$valid" class="btn btn-primary">保存</button>
  </div>
</form>
