<form class="form-horizontal" name="cluster_form" ng-submit="save_cluster()">
  <div class="modal-header">
    <a class="close" ng-click="close()">&times;</a>
    <div class="input-prepend input-append">
      <h4>添加集群</h4>       
    </div>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label for="name" class="control-label">名称：</label>
      <div class="controls">
        <input type="text" required ng-model="cluster.name" class="input"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
    <button type="submit" ng-disabled="!cluster_form.$valid" class="btn btn-primary">保存</button>
  </div>
</form>