.chart-container {
  width: 350px;
  height: 160px;
}

.chart-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

.pie-container {
  width: 280px;
  height: 150px;
}