.monitoring-image{
  width: 100%;
  height: 300px;
  img{
    width: 100%;
    height: 100%;
  }
}


.ui-layout-pane { /* all 'panes' */ 
    background: #FFF; 
    border: 1px solid #D4D4D4; 
    padding: 0px; 
    overflow: auto;
} 

.ui-layout-resizer { /* all 'resizer-bars' */ 
    background: #EEEEEE; 
} 

.ui-layout-toggler { /* all 'toggler-buttons' */ 
    background: #AAA; 
} 


.panel-body-noborder {
  border-width: 0;
}


.box-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #C3D0E0;
    border-color: -moz-use-text-color -moz-use-text-color #DEDEDE;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    cursor: move;
    font-size: 12px;
    font-weight: bold;
    height: 0px;
    margin-bottom: 0;
    min-height: 0px;
    padding-top: 5px;
}

.box-header > b {
    line-height: 0px;
}

.box {
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    margin-bottom: 10px;
    /*margin-top: 10px;*/
}

.box-no-border{
    border: 0px solid #DEDEDE;
    margin-bottom: 10px;
    border-radius: 3px 3px 3px 3px;
}
.server-btn-toolbar {
    margin-top: 0px;

}

.table-select {
    background-color: #C3D0E0;
}

.ui-toolbar {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top, #FFFFFF, #F5F5F5);
    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin: 0 0 18px;
    padding: 7px 14px;
}

/*.toolbar {*/
    /*margin: 0;*/
    /*padding: 5px 0 5px 5px;*/
/*}*/

/*-------tree contextmenu--------*/
.contextmenu-list {

    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    max-width: 250px;
    min-width: 120px;
    padding: 0;
    position: absolute;
    z-index: 999;
    visibility: hidden;

}

.contextmenu-item {

    -moz-user-select: -moz-none;
    background-color: #EEEEEE;
    padding: 2px 2px 2px 10px;
    position: relative;

}

.contextmenu-hover {
    background-color: #3399FF;
}

.context-menu-separator {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 0;
}

/*--------tree contextmenu---------*/

ul#rMenu a {
    color: black;
    text-decoration: none;
}

.tcloud-search input {
    background: #fff url('../img/chosen-sprite.png') no-repeat 100% -22px;
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);

    border: 1px solid #AAAAAA;
    font-family: sans-serif;
    font-size: 1em;
    margin: 1px 0;
    outline: 0 none;
    /*padding: 4px 20px 4px 5px;*/
    height: 2px;
}


.progressBar {
    height: 10px;
    width: 100%;
    max-width: 150px;
    min-width: 50px;
    margin-top: 3px;
}

.progressBar div {
    color: #390b54;
    font-size: 9px;
    height: 100%;
    line-height: 11px;
    text-align: center;
    width: 0;
}

.progressBardefault {
    /*background: none repeat scroll 0 0 #292929;*/
    border: 1px solid #111111;
    /*border-radius: 5px 5px 5px 5px;*/
    /*box-shadow: 0 0 2px #333333;*/
    /*overflow: hidden;*/

}

.progressBardefault div {
  background-color: #468847;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#468847), to(#468847));
  background: -webkit-linear-gradient(top, #468847, #468847);
  background: -moz-linear-gradient(top, #468847, #468847);
  background: -ms-linear-gradient(top, #468847, #468847);
  background: -o-linear-gradient(top, #468847, #468847);
}


#inst_define form {
  margin: 13px 36px 19px;
}

.add_host_modal{
  left: 55%;
  width: 350px;
}
.instmodal {
  left:45%;
  width: 677px;
}

.form-top{
  margin-top: 10px;
}
.form-horizontal .control-group {
  margin-bottom: 3px;
}

#add_host .form-horizontal .controls {
  margin-left: 127px;
}

#add_host .form-horizontal .control-label {
  width: 102px;
}

#inst_define .form-horizontal .controls {
  margin-left: 100px;
}
#inst_define .form-horizontal .control-label {
  text-align: left;
  width: 100px;
}


#bootorder{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ui-state-default {
  border: 1px solid #D3D3D3;
  padding-top: 5px;
  background-color: #E9E9E9;
}
.ui-state-disabled {
    opacity: 0.35;
}


.selectable .ui-selecting { background: #b8dce0; }
.selectable .ui-selected { background: #C3D0E0; color: white; }

.table-overview {
  td {
    border-top: 0px;
  }
  div {
    width: 100px; 
    float:left
  } 
}

.step-pos {
  margin: 5px 5px;  
}
.alert-pos {
  margin: 5px 10px 5px 10px;
}

.tab-layout {
  padding: 10px;
}

.well-layout {
  padding-left: 10px;
  text-align: center;
}

.switch-width {
  width: 190px;
}

.controls {
  .radio:first-child {
    padding-top: 0px;
  }
}

.text-layout {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

.overview-layout {
  margin-top: 23px;
}