<div ng-controller="VMActionBarCtrl">
  <div class="input-prepend input-append">
    <button type="button" class="btn btn-mini" ng-click="do_edit()">修改</button>
    <button type="button" class="btn btn-mini" ng-click="do_delete()">删除</button>
    <button type="button" class="btn btn-mini" ng-click="do_template()">存为模板</button>
    <button type="button" class="btn btn-mini" ng-click="do_migrate()">迁移</button>
    <button type="button" class="btn btn-mini" ng-click="do_suspend()">暂停</button>
  </div>
  <div class="input-append input-prepend">
    <button type="button" class="btn btn-mini" ng-click="do_operate()">运营管理</button>
    <button type="button" class="btn btn-mini" ng-click="do_start()">启动</button>
    <button type="button" class="btn btn-mini" ng-click="do_shutdown()">关机</button>
    <button type="button" class="btn btn-mini" ng-click="do_reboot()">重启</button>
    <button type="button" class="btn btn-mini" ng-click="do_snapshot()">快照管理</button>
  </div>
</div>