<div class="row-fluid">
  <div class="span3" style="padding-left: 45px;">
    <img src="/images/preview.png">
  </div>
  <div class="span9">
    <table class="table table-overview no-hover">
      <thead>
        <th>虚拟机信息</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>状态:</div>
            <div><span class="label label-success">{{vm.status}}</span></div> 
          </td> 
          <td>
            <div>随主机启动:</div>
            <div style="width:66px;"><span style="border: 1px solid #dddddd; background-color: #0088cc; color: #fff;padding: 0 3px;">{{vm.start_as_host}}</span><span style="border: 1px solid #dddddd;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
          </td>
          <td>
            <div>内存已缓存:</div>
            <div><span class="label label-warning">{{vm.memory_cache_usage}}GB</span></div>
          </td>
        </tr>
        <tr>
          <td>
            <div>cpu:</div>
            <div><span class="badge badge-success">{{vm.cpu_count}}</span></div>
          </td>
          <td>
            <div>内存:</div>
            <div><span class="label label-info">{{vm.total_memory}}GB</span></div>
          </td>
          <td>
            <div>内存可用:</div>
          <div><span class="label label-warning">{{vm.memory_idle}}GB</span></div>
          </td>
        </tr>
        <tr>
          <td>
            <div>硬盘大小:</div>
            <div><span class="label label-info">{{vm.hard_disk_capacity}}GB</span></div>
          </td>
          <td>
            <div>内存使用中:</div>
            <div><span class="label label-warning">{{vm.memory_usage}}GB</span></div>
          </td>
          <td>
            <div>操作系统:</div>
            <div><span class="label label-info">{{vm.os_type}}</span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="vms" class="tab-pane" ng-controller="VMMgmtCtrl">
  <ng:include src="'/partials/vms/_action_bar.html'" />
</div>
<div class="row-fluid">
  <div class="span4">    
    <curvegraph url="/vms/{{vm.id}}/current_cpu" width="300" height="160" max="100" min="0" title="CPU使用率"></curvegraph> 
  </div>
  <div class="span4">    
    <curvegraph url="/vms/{{vm.id}}/current_memory" width="300" height="160" min="0" max="8192" title="内存使用量"></curvegraph> 
  </div>
  <div class="span4">     
    <curvegraph url="/vms/{{vm.id}}/current_traffic" width="300" height="160" min="0" max="1024" title="以太网"></curvegraph> 
  </div>
</div>