<h6>基本设置</h6>
<form class="form-horizontal">
  <div class="control-group">
    <label for="cluster" class="control-label">集群</label>
    <div class="controls">
      <select class="span4">
        <option>数据集群</option>
        <option>网络集群</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">HOST</label>
    <div class="controls">
      <select class="span4">
        <option>系统选择</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
      </select>
    </div>
  </div>
  <div class="control-group">
      <label for="name" class="control-label">名字</label>
      <div class="controls">
        <input type="text" id="name" class="input" ng-model="vm.name">
      </div>
  </div>
  <div class="control-group">
    <label for="dec" class="control-label">描述</label>
    <div class="controls">
      <input type="text" id="dec" class="input" ng-model="vm.desc">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">模版</label>
    <div class="controls">
      <select class="span4">
        <option>系统选择</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label for="mem" class="control-label">内存</label>
    <div class="controls">
      <input type="text" id="mem" class="input-mini"> MB
    </div>
  </div>
  <div class="control-group">
    <label for="inputWarning" class="control-label">CPU</label>
    <div class="controls">
      <input type="text" id="inputWarning" class="input-mini">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">操作系统</label>
    <div class="controls">
      <select class="span4">
        <option>系统选择</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
      </select>
    </div>
  </div>
</form>
