<div id="display">
  <h6>控制台</h6>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label">类型</label>
      <div class="controls">
        <select class="span4">
          <option>vnc</option>
          <option>spice</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">USB重定向</label>
      <div class="controls">
        <input type="checkbox">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">显示设备</label>
      <div class="controls">
        <select class="span4">
          <option>1</option>
          <option>2</option>
          <option>4</option>
        </select>
      </div>
    </div>
  </form>
</div>