<fieldset>
  <legend>{{steps[0]}}</legend>
  <div class="row-fluid">  
    <div class="span8">
    <form class="form-horizontal">
      <div class="control-group">
        <label for="cluster" class="control-label">集群：</label>
        <div class="controls">
           <select ng-options="c.name for c in clusters" class="span5" ng-model="vm.cluster">
            </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">主机(可不选)：</label>
        <div class="controls">
          <select ng-model="vm.host" ng-options="h.name for h in cluster.hosts" class="span5">
            <option value="">-- 默认主机 --</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="name" class="control-label">名字：</label>
        <div class="controls">
          <input type="text" ng-model="vm.name" class="input" placeholder="虚拟机名称" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">显示设置：</label>
        <div class="controls">
          <select ng-model="vm.view_type" class="span5" ng-options="v for v in view_types">
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="mem" class="control-label">USB重定向：</label>
        <div class="controls">
          <input type="checkbox" class="input-mini" ng-model="vm.usb_redirect" />
        </div>
      </div>
      <div class="control-group">
        <label for="startup_with_host" class="control-label">随主机启动：</label>
        <div class="controls">
          <input type="checkbox" id="startup_with_host" class="input-mini" ng-model="vm.startup_with_host" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">虚拟机描述：</label>
        <div class="controls">
          <textarea ng-model="desc"></textarea>
        </div>
      </div>
    </form>
    </div>
    <div class="span4">
    
    </div>
  </div>
  <button ng-click="next_step()" class="btn btn-mini pull-right btn-primary">下一步</div>
</fieldset>  
