<fieldset>
  <legend>{{steps[2]}}</legend>
  <div class="row-fluid" style="margin: 5px 5px;">
    <div class="alert alert-info" style="margin: 5px 10px 5px 0px;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>注!</h4>
      计算方案即是为硬件配置模板，可以选择已有的计算方案，可以自己定义计算方案并存为方案。
    </div>  
    <div class="span8">
    <form class="form-horizontal">
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        <h5>计算方案 &nbsp;&nbsp;选择已有的计算方案</h5>
      </label>
      <label class="radio">
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        <h5>自定义 &nbsp;&nbsp;定义配置，并可存为计算方案</h5>
        <div class="control-group">
          <label for="name" class="control-label">名称:</label>
          <div class="controls">
            <input type="text" ng-model="vm.name" class="input" />
          </div>
        </div>
        <div class="control-group">
          <label for="cluster" class="control-label">CPU:</label>
          <div class="controls">
              <select class="span5">
                <option value="windows7" selected="selected">3</option>
              </select>
          </div>
        </div>
        <div class="control-group">
          <label for="cluster" class="control-label">内存:</label>
          <div class="controls">
            <select class="span5">
              <option value="" selected="selected">6GB</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="checkbox toggle well" style="width: 190px;" onclick="">
            <input id="view" type="checkbox" checked />
            <p>
              存为计算方案:
              <span>On</span>
              <span>Off</span>
            </p>
            <a class="btn btn-primary slide-button"></a>
          </label>
        </div>
      </label>
    </form>
    </div>
    <div class="span4">
    
    </div>
  </div>
  
  <button ng-click="prev_step()" class="btn btn-mini pull-left btn-primary">上一步</div>
  <button ng-click="next_step()" class="btn btn-mini pull-right btn-primary">下一步</div>
</fieldset>