<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid overview-layout">
      <div class="span3">
        <table class="table table-bordered text-layout">
          <tr>
            <td colspan="2"><span class="label label-info">集群</span> <span class="label label-success">{{datacenter.clusters.length}}</span></th>
          </tr>
          <tr>
            <td>主机 <br/> <span class="label label-success">{{hosts.length}}</span></td>
            <td>虚拟机 <br/> <span class="label label-success">{{vms.length}}</span></td>
          </tr>
        </table>
      </div>
      <div class="span3">
        <table class="table table-bordered text-layout">
          <tr>
            <td colspan="4"><span class="label label-info">主机</span> <span class="label label-success">{{hosts.length}}</span></th>
          </tr>
          <tr>
            <td title="正常"><img src="/images/normal.png" width="16" height="16"/> <br/><span class="label label-warning">{{hosts.length}}</span></td>
            <td title="维护"><img src="/images/maintain.png" width="16" height="16"/> <br/><span class="label label-warning">{{vms.length}}</span></td>
            <td title="关机" ><img src="/images/shutdown.png" width="16" height="16"/> <br/><span class="label label-warning">{{hosts.length}}</span></td>
            <td title="异常" ><img src="/images/abnormal.png" width="16" height="16"/> <br/><span class="label label-warning">{{vms.length}}</span></td>
          </tr>
        </table>
      </div>
      <div class="span3">
        <table class="table table-bordered text-layout">
          <tr>
            <td colspan="4"><span class="label label-info">虚拟机</span> <span class="label label-success">{{hosts.length}}</span></th>
          </tr>
          <tr>
            <td title="正常"><img src="/images/normal.png" width="16" height="16"/> <br/><span class="label label-warning">{{hosts.length}}</span></td>
            <td title="维护"><img src="/images/maintain.png" width="16" height="16"/> <br/><span class="label label-warning">{{vms.length}}</span></td>
            <td title="关机" ><img src="/images/shutdown.png" width="16" height="16"/> <br/><span class="label label-warning">{{hosts.length}}</span></td>
            <td title="异常" ><img src="/images/abnormal.png" width="16" height="16"/> <br/><span class="label label-warning">{{vms.length}}</span></td>
          </tr>
        </table>
      </div>
      <div class="span2">
        <table class="table table-bordered text-layout">
          <tr>
            <td colspan="2"><span class="label label-info">存储</span> <span class="label label-success">{{hosts.length}}</span></td>
          </tr>
          <tr>
            <td title="正常"><img src="/images/normal.png" width="16" height="16"/> <br/><span class="label label-warning">{{hosts.length}}</span></td>
            <td title="异常" ><img src="/images/abnormal.png" width="16" height="16"/> <br/><span class="label label-warning">{{vms.length}}</span></td>
          </tr>
        </table>
      </div>
      <div class="span1">
        <table class="table table-bordered text-layout">
          <tr>
            <td colspan="2"><span class="label label-info">网络</span><span class="label label-success">{{hosts.length}}</span></td>
          </tr>
          <tr>
            <td title="正常"><img src="/images/normal.png" width="16" height="16"/> <br/><span class="label label-warning">{{hosts.length}}</span></td>
            <td title="异常" ><img src="/images/abnormal.png" width="16" height="16"/> <br/><span class="label label-warning">{{vms.length}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="span4">
    <piechart width="200" height="200" initial="{{datacenter.os_info}}" />
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    主机负荷TOP{{top_count}} 
    <toplist url="/datacenters/{{datacenter.id}}/top_hosts"></toplist>
  </div>
  <div class="span6">
    虚拟机负荷TOP{{top_count}}
    <toplist url="/datacenters/{{datacenter.id}}/top_vms"></toplist>
  </div>
</div>