<section id="directives-calendar" ng-controller="CalendarCtrl">
  <div class="row-fluid">
    <div class="span4">
      <p><button type="button" class="btn btn-primary" ng-click="addEvent()">Add Event</button></p>
      <ul class="unstyled">
        <li ng-repeat="e in events">
          <div class="alert alert-info">
            <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
            <b> {{e.title}}</b> - {{e.start | date:"MMM dd"}}
          </div>
        </li>
      </ul>
    </div>
    <div class="span8">
      <div class="alert-success calAlert" ng-show="alertMessage"><h4>{{alertMessage}}</h4></div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-info" ng-click="addRemoveEventSource(eventSources,eventSource)">Toggle an event source</button>
          <button class="btn btn-success" ng-click="changeView('agendaDay')">AgendaDay</button>
          <button class="btn btn-success" id="initializeButton" ng-click="changeView('agendaWeek')">AgendaWeek</button>
          <button class="btn btn-success" ng-click="changeView('month')">Month</button>
        </div>
      </div>
      <div class="well">
        <div class="calendar" ng-model="eventSources" calendar="currentCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
      </div>
    </div>
  </div>
</section>
  