<form class="form-horizontal" name="host_form"  ng-submit="save_task()">
<div class="modal-header">
  <a class="close" ng-click="close()">×</a>
  <h3>{{title}}</h3>
</div>
<div class="modal-body">
  <div class="row-fluid">  
    <div class="control-group">
      <label class="control-label">任务名称：</label>
      <div class="controls">
        <input type="text" required ng-model="task.title" placeholder="任务名称" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">开始时间：</label>
      <div class="controls">
        <input type="date" required ng-model="task.start" placeholder="开始时间" />
      </div>
      <label class="control-label">结束时间：</label>
      <div class="controls">
        <input type="date" required ng-model="task.end" placeholder="结束时间" />
      </div>
    </div>
  </div>  
</div>
<div class="modal-footer">
  <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
  <button type="submit" ng-disabled="!host_form.$valid" class="btn btn-primary">保存</button>
</div>
</form>