<form class="form-horizontal" name="host_form"  ng-submit="do_submit()">
<div class="modal-header">
  <a class="close" ng-click="close()">×</a>
  <h3>{{title}}</h3>
</div>
<div class="modal-body">
  <div class="row-fluid">  
    <div class="control-group">
      <label class="control-label">任务名称：</label>
      <div class="controls">
        <input type="text" required ng-model="event.title" placeholder="任务名称" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">任务描述：</label>
      <div class="controls">
        <textarea ng-model="event.desc"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">开始时间：</label>
      <div class="controls">
        <input type="text" class="span4" ui-date ng-model="event.start" required placeholder="开始时间" />
        <input type="text" class="span4" ng-model="start_time" placeholder="08:00" ng-pattern="/^([01][0-9]|2[0-3])\:[0-5][0-9]$/" required/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">持续时间：</label>
      <div class="controls">
        <select ng-model="duration" ng-options="o.value as o.name for o in durations" class="span5"></select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">优先级：</label>
      <div class="controls">
        <select ng-model="event.priority" ng-options="o.value as o.name for o in priorities" class="span5"></select>
      </div>
    </div>
  </div>  
</div>
<div class="modal-footer">
  <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
  <button type="submit" ng-disabled="!host_form.$valid" class="btn btn-primary">保存</button>
</div>
</form>
<script type="text/javascript">
$('.datepicker').datepicker({
  format: 'mm-dd-yyyy'
});
</script>