<form class="form-horizontal" name="host_form"  ng-submit="do_upsert()">
<div class="modal-header">
  <a class="close" ng-click="close()">×</a>
  <h3>{{title}}</h3>
</div>
<div class="modal-body">
  <fieldset>
    <legend>{{title}}</legend>
    <div class="row-fluid">  
      <div class="span8">
     
        <div class="control-group">
          <label for="cluster" class="control-label">集群：</label>
          <div class="controls">
            <select ng-options="c.name for c in clusters" class="span5" ng-model="host.cluster">
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">名称：</label>
          <div class="controls">
            <input type="text" required ng-model="host.name" placeholder="主机名称" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">主机描述：</label>
          <div class="controls">
            <textarea ng-model="host.desc"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">CPU核数：</label>
          <div class="controls">
            <input type="number" required min="1" max="65536" ng-model="host.cpu_count" placeholder="CPU个数" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">架构：</label>
          <div class="controls">
            <input type="text" required ng-model="host.architect" placeholder="硬件架构" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">内存大小：</label>
          <div class="controls">
            <input type="number" required ng-model="host.total_memory" placeholder="内存大小" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">硬件厂商：</label>
          <div class="controls">
            <input type="text" ng-model="host.brand" placeholder="硬件厂商" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">出厂时间：</label>
          <div class="controls">
            <input type="number" min="1970" max="2050" ng-model="host.year" placeholder="出厂年份" />
          </div>
        </div>
      </div>
      <div class="span4">

      </div>
    </div>  
  </fieldset>  

</div>
<div class="modal-footer">
  <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
  <button type="submit" ng-disabled="!host_form.$valid" class="btn btn-primary">保存</button>
</div>
</form>