<div class="row-fluid">
  <div class="span3">
    <piechart width="160" height="160" initial="{{os_info}}"></piechart>
  </div>
  <div class="span9">
    <table class="table table-condensed">
      <thead>
        <th>主机信息</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>状态:</div>
            <div><span class="label label-success">{{host.status}}</span></div> 
          </td> 
          <td>
            <div>虚拟机:</div>
            <div><span class="label label-info">{{host.virtual_machines.length}}</span></div>
          </td>
          <td>
            <div>内存已缓存:</div>
            <div><span class="label label-warning">{{host.memory_cache_usage}}GB</span></div>
          </td>
        </tr>
        <tr>
          <td>
            <div>cpu:</div>
            <div><span class="badge badge-success">{{host.cpu_count}}</span></div>
          </td>
          <td>
            <div>内存:</div>
            <div><span class="label label-info">{{host.total_memory}}GB</span></div>
          </td>
          <td>
            <div>内存可用:</div>
          <div><span class="label label-warning">{{host.memory_idle}}GB</span></div>
          </td>
        </tr>
        <tr>
          <td>
            <div>硬盘大小:</div>
            <div><span class="label label-info">{{host.hard_disk_capacity}}GB</span></div>
          </td>
          <td>
            <div>内存使用中:</div>
            <div><span class="label label-warning">{{host.memory_usage}}GB</span></div>
          </td>
          <td>
            <div>内存条数:</div>
            <div><span class="badge">{{host.memory_count}}</span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tab-pane" style="padding:0px 10px; margin-bottom: 10px; text-align: center;">
  <div class="input-prepend input-append">
    <button type="button" class="btn" ng-click="do_edit()">修改</button>
    <button type="button" class="btn">移除</button>
    <button type="button" class="btn">维护</button>
    <button type="button" class="btn">激活</button>
  </div>
  <div class="input-append input-prepend">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        创建
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a ng-click="do_create()">创建服务器</a></li>
        <li><a href="#/setup_vm">创建桌面</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    CPU使用率
    <curvegraph url="/hosts/{{host.id}}/current_cpu" width="300" height="160" max="100" min="0"></curvegraph> 
  </div>
  <div class="span4">
    内存使用量
    <curvegraph url="/hosts/{{host.id}}/current_memory" width="300" height="160" min="0" max="8192"></curvegraph> 
  </div>
  <div class="span4">
     以太网
     <curvegraph url="/hosts/{{host.id}}/current_traffic" width="300" height="160" min="0" max="1024"></curvegraph> 
  </div>
</div>