<div class="monitoring">
  <div class="row-fluid">
    <div class="span5 box">
      {{host.name}}<br />
      {{host.architect}}<br />
      {{host.total_memory|bytes}}
      ...
    </div>
    <div class="filters span7">
      <!--间隔：<select ng-options="c.name for c in intervals" class="span2" ng-model="monitoring.interval"></select>-->
      <div class="row-fluid">
        开始日期：<input type="datetime-local" ng-model="monitoring.start" class="input-date" />
        结束日期：<input type="datetime-local" ng-model="monitoring.finish" class="input-date" /><br />
        目标：<select ng-options="c.name for c in targets"  class="span2" ng-model="monitoring.target" ng-change="show_target_image()"></select>
      </div>
      <div class="control-group input-append">
        <input type="text" ng-model="datepicker.date" data-date-format="yyyy-mm-dd" bs-datepicker>
        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      </div>
      <div class="control-group input-append">
        <input type="text" ng-model="datepicker.time" bs-timepicker>
        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
      </div>
    </div>
  </div>

  <div class="monitoring-image">
    <div ng-repeat="image in monitoring.images">      
      <img src="{{image.url}}" />
    </div>   
  </div>
  <button class="btn pull-right" ng-click="go_back()">Back</button>
</div>