<div ng-controller="VMMgmtCtrl">
  <div ng-include="'/partials/shared/_vm_action_bar.html'" />
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>名称</th>
        <th>CPU使用率</th>
        <th>内存使用率</th>
        <th>集群</th>
        <th>主机</th>
        <th>IP</th>
        <th>显示</th>
        <th>操作系统</th>
        <th>模板</th>
        <th>CPU</th>
        <th>内存</th>
        <th>磁盘</th>
        <th>网络</th>
        <th>USB</th>
        <th>用户</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="m in vms | startFrom:(current_page * page_size) | limitTo:page_size">  
        <td><input type="checkbox" value="{{m.id}}" ng-model="selected[m.id]" /></td>
        <td>{{m.name}}</td>
        <td><div class="progress progress-striped active">
          <div class="bar" style="width: {{m.cpu_usage}}%;">{{m.cpu_usage}}%</div>
        </div>
        </td>
        <td>
          <div class="progress progress-success">
            <div class="bar" style="width: {{m.memory_usage}}%;">{{m.memory_usage}}%</div>
          </div>
        </td>
        <td></td>  
        <td>{{m.host}}</td>  
        <td>{{m.ip}}</td> 
        <td>{{m.view}}</td> 
        <td>{{m.os_type}}</td> 
        <td>{{m.template}}</td> 
        <td>{{m.cpu_count}}</td>
        <td>{{m.total_memory | bytes}}</td>
        <td>{{m.hard_disk_capacity | bytes}}</td>
        <td>{{m.network}}</td>
        <td>{{m.usb}}</td>
        <td>{{m.userh}}</td>
        <td>{{m.status}}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <ul>
      <li><a href="javascript:void(0);" ng-hide="vms.length <= page_size" ng-class="prev_class" ng-click="prev()">Prev</button></a></li>
      <li ng-repeat="i in [] | range:page_count()">
        <a href="javascript:void(0)"  ng-hide="vms.length <= page_size" ng-click="page(i)" ng-class="(i == current_page) && 'active'">{{i + 1}}</a>
      </li>
      <li><a href="javascript:void(0);" ng-hide="vms.length <= page_size" ng-class="next_class" ng-click="next()">Next</button></a></li>
    </ul>
  </div>

</div>