<form class="form-horizontal" name="storage_form" ng-submit="do_upsert()">
  <div class="modal-header">
    <a class="close" ng-click="close()">&times;</a>
    <div class="input-prepend input-append">
      <h4>{{title}}</h4>       
    </div>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label">数据类型:</label>
      <div class="controls">
        <select class="span2" >
          <option value="">数据</option>
          <option value="">ISO</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">类型:</label>
      <div class="controls">
        <select class="span2">
          <option value="">NFS</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">名称:</label>
      <div class="controls">
        <input type="text" required ng-model="storage.name" class="input"/>
      </div>
    </div>
    <div class="control-group">
      <label for="name" class="control-label">描述:</label>
      <div class="controls">
        <textarea required ng-model="storage.desc"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">server:</label>
      <div class="controls">
        <input type="text" required ng-model="storage.server" class="input"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">路径:</label>
      <div class="controls">
        <input type="text" required ng-model="storage.pos" class="input"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">关联集群:</label>
      <div class="controls">
        <input type="checkbox" class="input-mini"/> qa
        <input type="checkbox" class="input-mini"/> ceshi
        <input type="checkbox" class="input-mini"/> dev
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">目标服务器:</label>
      <div class="controls">
        <input type="text" class="input"/><button>搜索</button>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn" ng-click="close()">关闭</a>
    <button type="submit" ng-disabled="!storage_form.$valid" class="btn btn-primary">保存</button>
  </div>
</form>
